.c1wupbe7-0-0-beta-19 {
  font-size: 1.6rem !important;
  border: 0 !important;
}
.rdg.r104f42s7-0-0-beta-19 {
  height: auto !important;
  grid-template-columns: 200px 200px 200px 200px 200px !important;
  margin-top: 20px;
  border: 0 !important;
  overflow-y: scroll !important;
  max-height: 30vh !important;
}

.rdg-header-row.h197vzie7-0-0-beta-19 {
  background: #1e1f21;
}
.rdg-row.r1otpg647-0-0-beta-19.rdg-row-even {
  background: #000 !important;
}
.rdg-row.r1otpg647-0-0-beta-19.rdg-row-odd {
  background: #000 !important;
}

.cell-id {
  display: inline-flex;
  align-items: center;
}
.cell-id-icon {
  display: inline-flex;
  margin-right: 10px;
}

@media (min-width: 1024px) {
  .rdg.r104f42s7-0-0-beta-19 {
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw !important;
    max-height: 54vh !important;
  }
}

@media (min-width: 1202px) {
  .rdg.r104f42s7-0-0-beta-19 {
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw !important;
  }
}

@media (min-width: 1440px) {
  .rdg.r104f42s7-0-0-beta-19 {
    grid-template-columns: 12vw 10vw 16.1vw 16.1vw 23.7vw !important;
  }
}
